In [ ]:
install.packages(c("dplyr", "glmnet", "zoo", "lubridate"))

In [56]:
library(dplyr)
library(glmnet)
library(zoo)
library(lubridate)

In [112]:
clean_oil_data = function(filename) {
  read.csv2(filename) %>% 
    filter(!is.na(Date)) %>% 
    # put Date into dateformat
    mutate(Date = as.Date(Date, "%d.%m.%Y")) %>% 
    # put all other variables into numer format
    mutate(across(-Date, ~ as.numeric(as.character(.))))
}

files = list(
  "Industry_D.csv", 
  "Industry_M.csv", 
  "Industry_W.csv", 
  "Macro_M.csv", 
  "StockPrices_M.csv"
)

cleaned_data = lapply(files, clean_oil_data)

industry_d = cleaned_data[[1]]
industry_m = cleaned_data[[2]] %>% 
# these variables already appear inside industry_d
  select(-any_of(c("CL1", "CL2", "Brent", "CRKS321C.Index", "Baltic.Dry.Index", "datadate")))
industry_w = cleaned_data[[3]]
macro_m = cleaned_data[[4]]
stockprices_m = cleaned_data[[5]]

head(industry_d)
head(industry_m)

  Date       CL1   CL2   Brent CRKS321C.Index BDIY.Index
1 2024-07-30 74.73 73.88 78.63 21.883         1762
2 2024-07-29 75.81 74.80 79.78 22.171         1797
3 2024-07-26 77.16 76.00 81.13 21.071         1808
4 2024-07-25 78.28 77.11 82.37 20.832         1834
5 2024-07-24 77.59 76.58 81.71 19.776         1864
6 2024-07-23 76.96 75.92 81.01 21.118         1869

  Date       Daily.Production Inventories Rig.Count Commercial.Long
1 2024-06-28 13200            821134      581       1600085
2 2024-05-31 13100            826109      600       1750160
3 2024-04-30 13100            827161      613       1708427
4 2024-03-29 13100            815058      621       1687838
5 2024-02-29 13300            807417      626       1583286
6 2024-01-31 13000            779314      621       1673204
  Commercial.Short Total.Open.Interest X  X.1 X.2 X.3
1 1631509          3231594             NA NA  NA  NA
2 1785108          3535268             NA NA  NA  NA
3 1751709          3460136             NA NA  NA  NA
4 1725350          3413188             NA NA  NA  NA
5 1606750          3190036             NA NA  NA  NA
6 1695615          3368819             NA NA  NA  NA

In [115]:
data_compile = industry_d %>% 
  merge(industry_w, by = "Date", all = TRUE) %>% 
  merge(industry_m, by = "Date", all = TRUE) %>% 
  merge(macro_m, by = "Date", all = TRUE) %>% 
  merge(stockprices_m, by = "Date", all = TRUE) %>% 
  arrange(Date)

head(data_compile)
print(paste("Rows after merge:", nrow(data_compile)))

  Date       CL1   CL2   Brent CRKS321C.Index BDIY.Index Weekly.Prod.Crude
1 1990-01-02 22.89 22.41 21.95 NA             NA           NA
2 1990-01-03 23.68 22.97 23.48 NA             NA           NA
3 1990-01-04 23.41 22.53 26.78 NA             NA           NA
4 1990-01-05 23.08 22.03 27.40 NA             NA         7512
5 1990-01-08 21.62 21.03 24.98 NA             NA           NA
6 1990-01-09 22.07 21.23 24.75 NA             NA           NA
  Weekly.Rig.Count Weekly.change.in.Crude.Stock Weekly.Commercial.Long ⋯
1 NA               NA                           NA                     ⋯
2 NA               NA                           NA                     ⋯
3 NA               NA                           NA                     ⋯
4 NA               NA                           NA                     ⋯
5 NA               NA                           NA                     ⋯
6 NA               NA                           NA                     ⋯
  DXY.returns VIX Gasoline.All.Grades Dow.Jones.US.Oil.Gas.Index ExxonMobil
1 NA          NA  NA                  NA                         NA
2 NA          NA  NA                  NA                         NA
3 NA          NA  NA                  NA                         NA
4 NA          NA  NA                  NA                         NA
5 NA          NA  NA                  NA                         NA
6 NA          NA  NA                  NA                         NA
  ConocoPhilips Chevron BP Shell TotalEnergies
1 NA            NA      NA NA    NA
2 NA            NA      NA NA    NA
3 NA            NA      NA NA    NA
4 NA            NA      NA NA    NA
5 NA            NA      NA NA    NA
6 NA            NA      NA NA    NA

[1] "Rows after merge: 133833"

In [119]:
data_compile_filled = data_compile %>%
    arrange(Date) %>%
    mutate(across(-Date, ~ zoo::na.locf(., na.rm = FALSE))) %>% 
    mutate(across(-Date, ~ zoo::na.locf(., fromLast = TRUE, na.rm = FALSE))) %>% 
    arrange(desc(Date))

head(data_compile_filled)

  Date       CL1   CL2   Brent CRKS321C.Index BDIY.Index Weekly.Prod.Crude
1 2024-07-30 74.73 73.88 78.63 21.883         1762       13300
2 2024-07-29 75.81 74.80 79.78 22.171         1797       13300
3 2024-07-26 77.16 76.00 81.13 21.071         1808       13300
4 2024-07-25 78.28 77.11 82.37 20.832         1834       13300
5 2024-07-24 77.59 76.58 81.71 19.776         1864       13300
6 2024-07-23 76.96 75.92 81.01 21.118         1869       13300
  Weekly.Rig.Count Weekly.change.in.Crude.Stock Weekly.Commercial.Long ⋯
1 482              -3741                        654310                 ⋯
2 482              -3741                        654310                 ⋯
3 482              -3741                        654310                 ⋯
4 482              -3741                        654310                 ⋯
5 482              -3741                        654310                 ⋯
6 482              -3741                        654310                 ⋯
  DXY.returns VIX   Gasoline.All.Grades Dow.Jones.US.Oil.Gas.Index ExxonMobil
1 0.01135205  12.44 3.557               760.4                      115.12
2 0.01135205  12.44 3.557               760.4                      115.12
3 0.01135205  12.44 3.557               760.4                      115.12
4 0.01135205  12.44 3.557               760.4                      115.12
5 0.01135205  12.44 3.557               760.4                      115.12
6 0.01135205  12.44 3.557               760.4                      115.12
  ConocoPhilips Chevron BP   Shell TotalEnergies
1 114.38        156.42  36.1 72.18 66.68
2 114.38        156.42  36.1 72.18 66.68
3 114.38        156.42  36.1 72.18 66.68
4 114.38        156.42  36.1 72.18 66.68
5 114.38        156.42  36.1 72.18 66.68
6 114.38        156.42  36.1 72.18 66.68